
:host
  display: grid
  grid-template-columns: 1fr 1fr
  grid-gap: 1em
  padding: 1em
  box-sizing: border-box
  width: 100%
  height: 100vh
  align-items: start
  grid-auto-rows: max-content
  --base-prompt-height: 100px
  --border: 1px solid #444
  --background-0: #111
  --background-1: #1a1a1a
  --background-2: #2a2a2a
  --background-3: #3a3a3a
  --deactivate-bg: rgb(220, 155, 33)
  --deactivate-fg: rgb(255,255,255)
  --activate-bg: rgb(52, 159, 152)
  --activate-fg: rgb(255,255,255)

header
  display: grid
  grid-gap: .5em
  grid-auto-rows: max-content
  grid-column: span 2

  .options
    display: grid
    grid-gap: .5em
    box-sizing: border-box

    @media screen and (min-width: 1024px)
      grid-auto-columns: max-content
      grid-auto-flow: column

  .selects
    display: grid
    grid-gap: .5em

    @media screen and (min-width: 1024px)
      justify-items: start
      grid-auto-flow: column

  .checkboxes
    display: flex
    padding: .25em

    .labelled
      padding: .25em
      margin: .25em
      justify-items: center

  .instructions
    grid-row: 2
    grid-column: span 2
    height: 80px

.pad
  padding: .5em

.group
  border: var(--border)
  box-sizing: border-box

  &.a
    background: var(--background-1)
  &.b
    background: var(--background-2)
  &.c
    background: var(--background-3)

.prompt,
.previews
  display: grid
  grid-auto-rows: max-content
  grid-gap: 1em

.prompt
  &:not([is-code='true'])
    grid-column: span 2

    textarea.input
      height: var(--base-prompt-height)

  &[is-code='true']
    @media screen and (max-width: 1024px)
      grid-column: span 2

    @media screen and (min-width: 1024px)
      grid-column: 1

    textarea.input
      height: calc(var(--base-prompt-height) * 2)

  .buttons
    display: grid
    grid-auto-flow: column
    grid-gap: 1em
    justify-content: start

    .abort
      --fa-button-background: var(--deactivate-bg)
      --fa-button-color: var(--deactivate-fg)

    .submit
      --fa-button-background: var(--activate-bg)
      --fa-button-color: var(--activate-fg)

.previews
  &:not([is-code='true'])
    display: none

  &[is-code='true']
    display: grid

    @media screen and (max-width: 1024px)
      grid-column: span 2

    @media screen and (min-width: 1024px)
      grid-column: 2

.response
  grid-column: span 2

.labelled
  display: grid
  grid-auto-flow: row
  grid-auto-rows: max-content
  grid-gap: 5px

label
  font-size: 11px
  text-transform: uppercase
  color: #c3c3c3

textarea
  width: 100%
  background: var(--background-0)
  color: #fff
  font-size: 13px
  box-sizing: border-box
  padding: .5em
  line-height: 14px

[hidden='true']
  display: none

pre
  width: 100%
  border: var(--border)
  background: var(--background-1)
  padding: .5em
  box-sizing: border-box
  margin: 0

  &.preview
    line-height: 14px
    overflow: auto

  &.response
    min-height: 150px

code
  white-space: pre-wrap

  &[is-code='true']
    white-space: pre